<h1><%= product['product name'] %></h1>
<img src="<%= product['product link'] %>" alt="<%= product['product name'] %>" width="300" height="300" />
<p>Price: <%= product['product price'] %></p>
<a href="/">← Back to products</a>
